# vi mode
set-window-option -g mode-keys vi
set-option -g status-keys vi
set -g default-terminal "screen-256color"

# misc settings
set-window-option -g utf8 on
set-window-option -g automatic-rename on
set -g mode-mouse off
set -g mouse-select-window on
set -g mouse-select-pane on
set -g mouse-utf8 on
set-window-option -g remain-on-exit on
set bell-action any

# statusbar
set -g status-bg colour235
set -g status-fg colour136
setw -g window-status-fg colour244
setw -g window-status-bg default
setw -g window-status-current-fg colour166
setw -g window-status-current-bg default
setw -g window-status-current-attr bright,underscore,italics
setw -g window-status-current-format "#I:#W"
setw -g window-status-format "#I:#W"
setw -g window-status-activity-fg colour160
setw -g window-status-activity-bg default
setw -g window-status-activity-attr bright
set-option -g pane-border-fg black
#set-option -g pane-border-bg colour240
set-option -g pane-active-border-fg colour240
#set-option -g pane-active-border-bg colour240

set-option -g status-left-bg colour235
set-option -g status-left-fg colour136
set-option -g status-left-attr bright

set-option -g message-bg black
set-option -g message-fg colour166

set-option -g display-panes-active-colour colour33
set-option -g display-panes-colour colour166

set-window-option -g clock-mode-colour colour64

# Notification
#set-option -g visual-activity on
set-window-option -g monitor-activity on

# Terminal title bar
set-option -g set-titles on
set-option -g set-titles-string '#S:#I.#P #W'

# other
#set-option -g lock-after-time 1800
set-window-option -g clock-mode-style 24

set -g default-command zsh
set -g status-right-length 70
set -g status-right "#[fg=colour33]#(~/.screen-bin/nb-users)#[fg=colour230] | #[fg=colour254]Up: #(~/.screen-bin/uptime)#[fg=colour239] #(~/.screen-bin/load-average)#[fg=colour230] | #[default]%F %H:%M"
set -g status-left-length 14

# Statusbar properties.
# Update every 10 seconds
set -g display-time 10000

# Use c-t instead of c-b as the prefix
unbind C-b
set -g prefix C-t
bind C-t send-prefix
bind t send-prefix

# open a man page in new window
bind / command-prompt "split-window 'exec man %%'"

# open a ssh shell to a remote host
bind S command-prompt "neww 'exec ssh %%'"

# quick view of processes
bind '~' split-window "exec htop"

# scrollback buffer n lines
set -g history-limit 5000

bind O select-pane -t :.-
bind | split-window -h
bind v split-window "exec vim"
