# vi mode
set-window-option -g mode-keys vi
set-option -g status-keys vi
set-option -ga terminal-overrides ",xterm-256color:Tc"
set -g default-terminal "tmux-256color"

# misc settings
set-window-option -g automatic-rename on
set -g mouse on

# statusbar
set -g status-bg colour235
set -g status-fg colour136
setw -g window-status-style fg=colour244
setw -g window-status-current-style fg=colour166
setw -g window-status-current-style underscore,italics
setw -g window-status-current-format "#I:#W"
setw -g window-status-format "#I:#W"
setw -g window-active-style bright
#setw -g window-active-style fg=colour160
#setw -g window-style fg=colour160
setw -g window-style bright
set -g pane-active-border-style fg=colour240
set -g pane-border-style fg=colour240
set-option -g pane-active-border-style fg=colour240
set-option -g pane-active-border-style bg=colour240

set -g status-style "bg=colour235,fg=colour136"
set -g status-left-style bright

set-option -g message-style bg=black
set-option -g message-style fg=colour166

set-option -g display-panes-active-colour colour33
set-option -g display-panes-colour colour166

set-window-option -g clock-mode-colour colour64

# Notification
#set-option -g visual-activity on
set-window-option -g monitor-activity off

# Terminal title bar
set-option -g set-titles on
set-option -g set-titles-string '#S:#I.#P #W'

# other
#set-option -g lock-after-time 1800
set-window-option -g clock-mode-style 24

set -g default-command zsh
set -g status-right-length 70
set -g status-right "#[fg=colour33]#(~/.screen-bin/nb-users)#[fg=colour230] | #[fg=colour239] #(~/.screen-bin/load-average)#[fg=colour230] | #[default]%d %b %Y %H:%M"
set -g status-left-length 14

# Statusbar properties.
# Update every 10 seconds
set -g display-time 10000

# Use c-t instead of c-b as the prefix
unbind C-b
set -g prefix C-t
bind C-t send-prefix
#bind t send-prefix

# open a man page in new window
bind / command-prompt "split-window 'exec man %%'"

# open a ssh shell to a remote host
bind S command-prompt "neww 'exec ssh %%'"

# quick view of processes
bind '~' split-window "exec htop"

# scrollback buffer n lines
set -g history-limit 5000

bind O select-pane -t :.-
bind | split-window -h
bind v split-window "exec vim"

# Enter copy mode on mouse scroll
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'select-pane -t=; copy-mode -e; send-keys -M'"  
bind -n WheelDownPane select-pane -t= \; send-keys -M 
